<% /* Empty conditional comment required for IE=edge below */ -%>
<!--[if IE]><![endif]-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html>  <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <base href="/">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <meta name="description" content="<%= title %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%-: cssTag('build') %>

        <!-- ICONS -->
        <link rel="shortcut icon" type="image/x-icon" href="/v4/public/img/favicon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/v4/public/img/apple-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/v4/public/img/apple-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/v4/public/img/apple-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/v4/public/img/apple-icon-144x144.png"/>

        <!--[if lt IE 9]>
        <%-: scriptTags('ie8') %>
        <![endif]-->
    </head>
    <body>
